/* BUTTONS TOP RIGHT */

a{
    position:absolute;
    top:18px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#top{
    background-color: #f1f1f1;
    height: 120px;
    width: 100%;
}

/* IMAGE AND QUERIES*/

img{
    height: 30px;
    position: absolute;
    top:16px;
    left:16px;
}

#Advanced{
    color: #d93428;
    font-size: 20px;
    font-weight: 200px;
    left: 45px;
    top:24px;
    position:relative;
    font-family: sans-serif,Arial,Helvetica;
}
hr{
    position: relative;
    top:33px;
}

#aa{
    position: relative;
    top: 62px;
    left:45px;
    font-size: 16px;
    font-weight: 200px;
    font-family: sans-serif,Arial, Helvetica;
}


#a1,#a2,#a3,#a4{
    position: relative;
    left:45px;
    font-size:13px;
    font-family: sans-serif,Arial, Helvetica;
}

#a1{
    top:79px;
}

#a2{
    top:98px;
}

#a3{
    top:117px;
}

#a4{
    top:136px;
}

input[type="submit"]{
    background-color:#4a8cf7;
    color:white;
    font-family: sans-serif,Arial,Helvetica;
    font-weight: 700;
    font-size:11px;
    border-style: solid;
    border-color: #3079ed;
    border-radius:2px;
    border-width: 0.5px;
    position:relative;
    top:140px;
    left:684px;
    width: 115px;
    height: 30px;
}
input[type="submit"]:hover, input[type="submit"]:focus{
    cursor:auto;
    background-image: linear-gradient(#4a8cf7,#4e7cdf);
    border-color: #3967ca;
    border-radius:2px;
    border-width: 0.5px;
    outline:none;
}

input[type="text"]{
    position: absolute;
    left:227px;
    border-style: solid;
    border-color: #e1e1e1;
    border-width: 1px;
    border-radius:1px;
    border-top-color:#cecece;
    height: 29px;
    width: 572px;
}
#b1{
    top:216px;
}

#b2{
    top:258px;
}

#b3{
    top:300px;
}

#b4{
    top:342px;
}

input[type="text"]:focus{
    outline: none;
    border-style: solid;
    border-width:1px;
    border-color: #5d9afe;
    box-shadow: inset 0px 1px 3px 0px rgb(195, 191, 191);
}

