.header{
    height: 24vw;
}

#nume, #portf{
    font-family: Helvetica, sans-serif;
    font-size: 5.5vw;
    color: white;
    text-align: center;
    top: 4vw;
}

ul{
    position: absolute;
    left: 18vw;
    top:25vw;
    font-size: 1.7vw;
    width: 55vw;
}

ul h4{
    font-size: 1vw;
}
#past{
    position: absolute;
    top: 19vw;
    left: 24vw;
    font-size: 4vw;
    font-weight: 500;
}

#mail, #git{
    position: absolute;
    left: 61vw;
    width: 1%;
    height: auto;
    transform: translate(-50%, -50%);
}
#mail{
    top: 23.5vw;
}
#git{
    top: 24.8vw;
}

#email, #github{
    color: white;
    position: absolute;
    font-size: 1vw;
    font-weight: 500;
}

#email{
    left: 67.3vw;
    top: 23.4vw;
    transform: translate(-50%, -50%);
}
#github{
    left: 61.9vw;
    z-index: 1;
}
#github:hover{
    color: rgb(182, 177, 177);
    text-decoration: none;
}

#contact{
    position: absolute;
    top: 21.1vw;
    left: 63.8vw;
    font-size: 1.4vw;
    color: white;
}
body{
    margin:0;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 210px){
    #nume, #portf{
        font-size: 4vw;
    }
}