<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Search</title>
        
    </head>
    <body>
        <div id="photo">
            <img src="google.png" alt="Not available">
        </div>
        <form action="https://google.com/search">
            <input type="text" name="q">
            <p></p>
            <input type="submit" value="Google Search">
            <input type="submit" name="btnI" value="I'm Feeling Lucky">
        </form>
         <a id="first" href="images.html">Images</a>
         <a id="second" href="advanced.html">Advanced</a>
         <a href="sign.html">Sign in</a>
    </body>
</html>